<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
              <ul class="lista1">
                  <li><a href="/">Ofertas</a></li>
                  <li><a href="#">Tiendas Oficiales</a></li>
                  <li><a href="#">Vender</a></li>
                  <li><a href="#">Ayuda</a></li>
              </ul>
              <ul class="lista2"> 
                  <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-user-circle"></i></li>
                  <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                  <li><a href="/">Mis compras</a> <i class="fas fa-shopping-cart"></i></li>
              </ul>
          </nav> 
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main class="login">
          <section class="register">
            <h2>¡Bienvenid@s a Mercado Liebre!</h2>
            <h4>¿No tienes una cuenta?</h4>
            <h4>Crea <span><a href="/register">tu cuenta</a></span></h4>
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
          </section>
        </main>
        <footer>
        <section class="foot">
            <div class="elements-footer">
                <div class="element">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p class="message">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                        efectivo en puntos de pago. ¡Y siempre es seguro! </p>
                </div>
                <div class="element">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis 
                        en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>
                <div class="element">
                    <div class="iconos"><i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin </h3>
                    <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no 
                        puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            <div class="Copyright">
                <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
    </body>
</html>